.Darkmode-app-wrapper {

    width: 100%;
    max-width: 100%;
    min-height: 100vH;
    box-sizing: border-box;
    color: white;
}

.Darkmode-app {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vH;
    transition: background-color 0.3s ease;
}