.app {
    min-height: 100vH;
    width: 100%;
    transition: background-color 0.3s ease;

}

.h2-Studentbycohort {
    border: 5px;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.header {

    border: 5px solid gray;
    padding: 20px;
    background-color: yellow;

}

.card_container {
    display: flex;
    border: 3px;
    border-radius: 5px;
    border-color: blue;
    background-color: beige;
    border-style: dashed;
    padding: 10px;
    width: 40%;
    margin: 5%;
    margin-right: 50%;
    background-image: url("src/Assets/Pursuit.png");
    background-size: 500px 500px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card_container img {

    width: 150px;
    height: 150px;
    margin-right: 25px;

}


.cohortByStartDateDropDown {

    display: flex;
    border-style: inset;
    border-radius: 8px;
    border-color: slategrey;
    background-color: thistle;


}