.app {

    min-height: 100vH;
    width: 100%;
    transition: background-color 0.3s ease;

}

.h2-Studentbycohort {
    border: 5px;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.header {

    border: 5px solid gray;
    padding: 20px;
    background-color: yellow;

}

.studenttotal {

    border-style: double;
    border-radius: 5px;
    border-color: steelblue;
    background-color: snow;
    width: 160px;
}

.card_container {
    display: flex;
    border: 3px;
    border-radius: 5px;
    border-color: blue;
    background-color: beige;
    border-style: dashed;
    padding: 10px;
    width: 60%;
    margin: 5%;
    margin-right: 50%;
    background-image: url("src/Assets/Pursuit.png");
    background-size: 500px 500px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card_container img {

    width: 150px;
    height: 150px;
    margin-right: 25px;

}


.cohortByStartDateDropDown {

    display: flex;
    position: absolute;
    top: 23px;
    right: 0px;
    width: 50%;
    height: 8%;
    border-radius: 8px;
    border-style: inset;
    border-color: slategrey;
    background-color: thistle;
    align-items: center;


}

.h2-studentbycohort {


    display: flex;
    margin-left: 10%;
    width: 70%;
    align-items: center;
}

.cohortForm {
    border: 4px;
    width: 40%
}

.ontrack {

    border: 5px;
    border-style: inset;
    border-color: darkslategrey;
    width: 70%;
    background-color: red;

}

.gradreq {
    padding: 5%;
    border-style: groove;
    border-radius: 3px;
    border-color: burlywood;
    background-color: beige;
    width: 270px;
}

.scores {
    margin: 5%;
    padding: 10%;
    border-style: outset;
    border-radius: 4px;
    border-color: chocolate;
    background-color: wheat;
}

.comment-section {

    border-radius: 5px;
    border-style: groove;
    border-color: azure;
    background-color: antiquewhite;
    width: 280px;
    height: 240px;
    margin-right: 35%;

}

.entire-commentSect {
    width: 50%;
}

.Commenter {

    margin-left: 20%;
}

.CommName {
    margin-right: 40%;
}

.oneone {

    margin-bottom: 60%;
}

.commentbox {

    margin-top: 20%;

}

.submitBtn {

    margin-top: 70px;

}